
mixin product-detail
    include ../slider-product/slider-product
    include ../product-composition/product-composition
    include ../ui-kit/ui-kit
    include ../share/share
    section.product-detail(itemscope itemtype="http://schema.org/Product")
        +container
            .__body
                .__inner
                    article.__head
                        h1.h1.__title(itemprop="name")=h1
                .__inner
                    article.__slider
                        +product-composition(
                            ['Йод', 'Фтор', 'Селен']
                        ).product-composition--detail.__composition
                        +slider-product
                    article.__content
                        .__data.js-vue-product
                            .__offer(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                                .__price(itemprop="price") !{ruble(190)}
                                .__currency.hide(itemprop="priceCurrency") RUB
                            .__actions
                                quantity-counter(
                                    @change-quantity='onChangeQuantity'
                                    :quantity="cnt"
                                    :is-detail="true"
                                ).__quantity
                                +button('in-cart-big', 'button')(
                                    :class='classInCart'
                                    @click='addToCart'
                                    :disabled='isDisabled'
                                    data-id="1"
                                    data-in-cart-text='В корзине'
                                    ref='product-button'
                                ).__button
                                    +icon('cart')
                                    span(ref='product-button-text') В корзину
                                .__favorite
                                    +icon('favorite').__favorite-icon(
                                        @click.prevent="toggleToFavorite"
                                        :class="classInFavorite"
                                    )
                        .__tabs.tabs.js-tabs(itemprop="description")
                            .__tabs-nav
                                .__tabs-nav-item.js-tabs-item(data-tab='benefit')
                                    span Польза
                                .__tabs-nav-item.js-tabs-item.active(data-tab='composition')
                                    span Состав
                                .__tabs-nav-item.js-tabs-item(data-tab='how-to-order')
                                    span Как заказать
                            .__tabs-content.js-tabs-content
                                .__tabs-content-item.tabs-content.js-tabs-content-item(data-tab='benefit')
                                    .__tabs-content-head.js-tabs-toggle
                                        span.__tabs-content-title Польза
                                        +icon('arrow-tab').__tabs-content-icon
                                    .__tabs-content-list.js-tabs-list
                                        ul
                                            li benefit
                                            li benefit 2
                                            li benefit 3
                                .__tabs-content-item.tabs-content.js-tabs-content-item.active(data-tab='composition')
                                    .__tabs-content-head.js-tabs-toggle
                                        span.__tabs-content-title Состав
                                        +icon('arrow-tab').__tabs-content-icon
                                    .__tabs-content-list.js-tabs-list
                                        ul
                                            li 40-60 мкг/л – йода
                                            li 0,8-1,2 мг/л – фтора
                                            li 5-10 мкг/л – селена
                                            li 19 л – природной артезианской воды высшей категории качества
                                .__tabs-content-item.tabs-content.js-tabs-content-item(data-tab='how-to-order')
                                    .__tabs-content-head.js-tabs-toggle
                                        span.__tabs-content-title Как заказать
                                        +icon('arrow-tab').__tabs-content-icon
                                    .__tabs-content-list.js-tabs-list
                                        ul
                                            li how-to-order
                                            li how-to-order 2
                                            li how-to-order 3
                        .__share
                            +share
