
mixin product-detail
    include ../slider-product/slider-product
    include ../product-composition/product-composition
    include ../ui-kit/ui-kit
    section.product-detail
        +container
            .__inner
                article.__slider
                    +product-composition(
                        ['Йод', 'Фтор', 'Селен']
                    ).product-composition--detail.__composition
                    +slider-product
                article.__content.js-vue-product
                    h1.h1.__title=h1
                    .__tabs
                    .__price #{ruble(190)}
                    .__actions
                        quantity-counter(@change-quantity='onChangeQuantity' :quantity="cnt" :is-detail="true").__quantity
                        +button('in-cart', 'button')(
                            :class='classInCart'
                            @click='addToCart'
                            :disabled='isDisabled'
                            data-id="1"
                            data-in-cart-text='В корзине'
                            ref='product-button'
                        ).__button
                            +icon('product-cart')
                            span(ref='product-button-text') В корзину
