include ../ui-kit/ui-kit
include ../product-label/product-label
include ../product-composition/product-composition

mixin product(data, isCategory, toOrder, isRecommendation)
    //- Дублирование шаблона в src/vue/components/Product.vue (переиспользовать не удалось)
    article.product.js-vue-product(
            class={'product--category swiper-slide': isCategory, 'product--simple':!isCategory}
        )&attributes(attributes)
        .__inner
            .__top
                if !isCategory
                    .__favorite
                        +icon('favorite').__favorite-icon(
                            class={'in-favorite': data.isInFavorite}
                            @click.prevent="toggleToFavorite"
                            :class="classInFavorite"
                        )
                .__right
                    if data.labels && !isCategory
                        +product-label(data.labels).__label
                    if data.composition
                        +product-composition(data.composition).__composition
            a(href='#').__img-link
                img(
                    src=data.img
                    alt=data.title
                    title=data.title
                ).__img
            .__data
                a(href='#').__title=data.title
                .__desc=data.desc
            .__actions
                .__price=ruble(data.price)
                +button(isCategory || isRecommendation ? 'in-cart-category' : 'in-cart', 'button')(
                    :class='classInCart'
                    class={'in-cart': data.isInCart}
                    @click='addToCart'
                    :disabled='isDisabled'
                    data-id=data.id
                    data-in-cart-text=toOrder ? 'В заказе' : 'В корзине'
                    ref='product-button'
                )
                    +icon('product-cart')
                    span(ref='product-button-text')
                        | #{toOrder ? '+ К заказу' : data.isInCart ? 'В корзине' : 'В корзину'}

mixin product-banner(data)
    article.product.product--banner
        a(href='#').__img-link
            img(src=data.banner alt=data.title title=data.title).__img

mixin product-list(isAjax)
    include data
    section.product-list-section(class={'js-scroll-loading': isAjax})
        +container
            .product-list(class={'js-products-ajax js-scroll-loading-data': isAjax})
                 for item in products
                     if item.banner
                         +product-banner(item)
                     else
                         +product(item)
            if isAjax
                .product-list__loader-block
                    .product-list__loader.js-scroll-loading-loader(data-url='/mock/filter.json')

mixin product-list-three
    include data
    section.product-list-section
        +container
            .product-list.product-list--three
                 for item in products
                     if !item.banner
                         +product(item)

mixin product-list-slider(data, isCategory = true, toOrder = false)
    section.product-list-slider.js-product-list-slider-section
        .__prev.js-product-list-slider-prev
            +icon('arrow-round-left')
        .__container.swiper-container.js-product-list-slider
            .product-list.swiper-wrapper&attributes(attributes)
                for item in data
                    +product(item, isCategory, toOrder).swiper-slide
        .product-list-slider__next.js-product-list-slider-next
            +icon('arrow-round-right')

mixin product-recommendation-slider(data, isCategory = true)
    section.product-recommendation-slider.js-product-recommendation-slider-section
        .__prev.js-product-recommendation-slider-prev
            +icon('arrow-round-left')
        .__container.swiper-container.js-product-recommendation-slider
            .product-list.swiper-wrapper&attributes(attributes)
                for item in data
                    +product(item, isCategory, false, true).swiper-slide
        .product-recommendation-slider__next.js-product-recommendation-slider-next
            +icon('arrow-round-right')


mixin product-section(title, data)
    +section(title, 'Все товары').section--category
        +product-list-slider(data).product-list--category

mixin product-section-recommendation(title, data)
    +section(title || 'Рекомендуем посмотреть').section--recommendation
        +product-recommendation-slider(data, false).product-list--recommendation
        block

mixin product-add-to-cart-section(title, data, linkTitle = 'Все товары')
    +section(title, linkTitle).section--category.section--add-to-cart&attributes(attributes)
        +product-list-slider(data, true, true)
