include ../ui-kit/ui-kit
include ../product-label/product-label
include ../product-composition/product-composition

mixin product(data, isCategory, toOrder)
    article.product.js-vue-product(class={'product--category swiper-slide': isCategory})
        .__inner
            .__top
                if !isCategory
                    .__favorite
                        +icon('favorite').__favorite-icon(class={'in-favorite': data.isInFavorite})
                .__right
                    if data.labels && !isCategory
                        +product-label(data.labels).__label
                    if data.composition
                        +product-composition(data.composition).__composition
            a(href='#').__img-link
                img(src=data.img alt=data.title title=data.title).__img
            .__data
                a(href='#').__title=data.title
                .__desc=data.desc
            .__actions
                .__price=ruble(data.price)
                // Добавить in-cart при рендеринге на бекенде
                +button('in-cart', 'button')(
                    :class='classInCart'
                    class={'in-cart': data.isInCart}
                    @click='addToCart'
                    :disabled='isDisabled'
                    data-id=data.id
                    data-in-cart-text=toOrder ? 'В заказе' : 'В корзине'
                    ref='product-button'
                )
                    +icon('product-cart')
                    span(ref='product-button-text')
                        | #{toOrder ? '+ К заказу' : data.isInCart ? 'В корзине' : 'В корзину'}

mixin product-banner(data)
    acticle.product.product--banner
        a(href='#').__img-link
            img(src=data.banner alt=data.title title=data.title).__img

mixin product-list
    include data
    section.product-list-section
        +container
            .product-list
                 for item in products
                     if item.banner
                         +product-banner(item)
                     else
                         +product(item)

mixin product-list-slider(data)
    section.product-list-slider
        +icon('arrow-round-left').__prev.js-product-list-slider-prev
        .__container.swiper-container.js-product-list-slider
            .product-list.product-list--category.swiper-wrapper
                for item in data
                    +product(item, true)
        +icon('arrow-round-right').product-list-slider__next.js-product-list-slider-next


mixin product-section(title, data)
    +section(title, 'Все товары').section--category
        +product-list-slider(data)

mixin product-add-to-cart-section(title, data)
    +section(title, 'Все товары').section--category&attributes(attributes)
        .product-list.product-list--category
            for item in data
                +product(item, true, true)
