include ../ui-kit/ui-kit
include ../product-label/product-label
include ../product-composition/product-composition

mixin product(data)
    article.product.js-vue-product
        .__inner
            .__top
                .__favorite
                    +icon('favorite').__favorite-icon(class={'in-favorite': data.isInFavorite})
                .__right
                    if data.labels
                        +product-label(data.labels).__label
                    if data.composition
                        +product-composition(data.composition).__composition
            a(href='#').__img-link
                img(src=data.img alt=data.title title=data.title).__img
            .__data
                a(href='#').__title=data.title
                .__desc=data.desc
            .__actions
                .__price=ruble(data.price)
                // Добавить in-cart при рендеринге на бекенде
                +button('in-cart', 'button')(
                    :class='classInCart'
                    class={'in-cart': data.isInCart}
                    @click='addToCart'
                    :disabled='isDisabled'
                    data-id=data.id
                    data-in-cart-text='В корзине'
                    ref='product-button'
                )
                    +icon('product-cart')
                    span(ref='product-button-text')
                        | #{data.isInCart ? 'В корзине' : 'В корзину'}
mixin product-banner(data)
    acticle.product.product--banner
        a(href='#').__img-link
            img(src=data.banner alt=data.title title=data.title).__img

mixin product-list
    include data
    section.product-list
         for item in products
             if item.banner
                 +product-banner(item)
             else
                 +product(item)