mixin button(suffix, type)
    button.button(type=type class=suffix ? `button--${suffix}` : '')&attributes(attributes)
        block

mixin button-link(text, href, suffix)
    a.button(href=href || 'javascript:void(0)' class=suffix ? `button--${suffix}` : '')&attributes(attributes)=text ? text :''
        block

mixin link(text, href, suffix)
    a.link(href=href || 'javascript:void(0)' class=suffix ? `link--${suffix}` : '')&attributes(attributes)=text

mixin link-icon(text, iconType, href)
    a.link-icon(href=href || 'javascript:void(0)')&attributes(attributes)
        +icon(iconType)
        span=text

mixin field(name, placeholder, modifLabel, type)
    label.field(class!=modifLabel)
        span.field__placeholder
            span.field__placeholder-text=placeholder
        input.field__input(name=name type=type || 'text')&attributes(attributes)

mixin field-area(name, placeholder, modifLabel=null)
    label.field(class=modifLabel)
        span.field__placeholder
            span.field__placeholder-text=placeholder
        textarea.field__input.field__textarea(name=name type=type)&attributes(attributes)

mixin field-file(name, placeholder, isMultiple = true)
    label.field-file.js-field
        span.field-file__placeholder=placeholder
        input.field-file__input(name=`${name}${isMultiple ? '[]' : ''}` type='file' multiple!=isMultiple)&attributes(attributes)

mixin field-checkbox(name, isChecked)
    label.field-checkbox&attributes(attributes)
        input.field-checkbox__input(type="checkbox" name=name checked!=isChecked)
        .field-checkbox__custom
        .field-checkbox__text
            block
mixin field-checkbox-rounded(name, isChecked)
    label.field-checkbox-rounded&attributes(attributes)
        input.field-checkbox-rounded__input(type="checkbox" name=name checked!=isChecked)
        .field-checkbox-rounded__custom
        .field-checkbox-rounded__text
            block

mixin field-radio(name, value, text, isChecked)
    label.field-radio&attributes(attributes)
        input.field-radio__input(type="radio" name=name value=value checked!=isChecked)
        .field-radio__custom
        .field-radio__text=text

mixin button-show-more
    +button-transparent('Показать еще')(class='button--show-more')